*{
	box-sizing: border-box;
	font-family: 'Catamaran', sans-serif;
}

body {
	width: 925px;
	margin: 0 auto;
}

/*Header sections style*/

.header {
	height: 10rem;
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/52/18/3857934c5941db9.jpg");
}

.headerText{
	margin-top: 1rem;
	background-color: rgba(255,255,255,0.7);
}

/*Navigation section style*/

.navbar{
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: space-around;
	height: 3rem;
	margin-top: 1rem;
}

.buttons button {
	border: none;
	color: white;
}

.firstButton{
	width: 100%;
	clip-path: polygon(95% 0, 0 0, 0 100%, 95% 100%, 100% 50%);
	background-color: #9999cc;
}

.middleButton{
	width: 100%;
	clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%);
	background-color: #9999cc;
}


.lastButton{
	width: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 5% 50%);
	background-color: #6600a1;
}

.hamburgerButton{
	display: none;
}

/*Slider section style*/

.facesSlider{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.face{
	text-align: center;
}

.checkboxContainer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 0;
	background-color: #EDEDED;
}

.checkbox input:checked {
	color: #6600a1;
}

input[type=checkbox] {
	background-color: white;
	color: #6600a1;
	/* For mobile, it's typically better to position checkbox on top of clickable
       area and turn opacity to 0 instead. */
}


.btnContainer{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 2rem;
}

.btnZuruckContainer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
}

.btnStyle {
	background-color: #6600a1;
	border: none;
	width: 3rem;
	height: 3rem;
}

.btnArrowRight{
	width: 2rem;
	height: 2rem;
	clip-path: polygon(44% 0, 51% 0, 100% 50%, 51% 100%, 44% 100%, 92% 50%);
	background-color: white;
}

#btnWeiterLabel{
	margin-right: 2rem;
}

.glasses {
	display: none;
}

.btnZuruckContainer{
	display: none;
}

/*Produckt section style*/

.productsSection{
	margin-top: 1rem;
}

.productHeaderContainer{
	background-color: #6600a1;
	padding: 0.05rem;

}

.productsHeader{
	color: white;
	background-color: #6600a1;
	text-align: center;

}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 480px) and (max-width: 768px){

}

@media only screen and (max-width: 480px) {

	*{
		font-size: 30px;
	}
	.slider{
		flex-direction: column;
	}

	.face{
		/*width: 100%;*/
		/*margin-left: 2rem;*/
		/*margin-right: 2rem;*/
	}

	img {
		width: 20rem;
	}


}